/* Tree */
.Tree-structure-container{
  width: 100%;
  padding-bottom: 3em;
}

.Tree-folder-node{
  cursor: pointer;
  margin-top: 0.3em;
  padding-left: 0.3em;
}

.Tree-file-node{
  padding-top: 0.15em;
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 0.5em;
  margin-left: 0.5em;  
  box-shadow: -2px 2px 8px 0px #dab491;
}